{% extends 'base.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
<div class="container py-5">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <h3>Создать пост</h3>
  <br>
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control") }}
      <br>
      {{ form.text.label(class="form-label") }}
      {{ form.text(class="form-control", rows="7") }}
      <br>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}