{% extends 'base.html' %}

{% block title %}
Проверка пользователя
{% endblock %}

{% block content %}
<div class="container py-5">
  {% for category, message in get_flashed_messages(True) %}
  {% if category == 'success' %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ message }}. Привет {{ user_name }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  <h3>Введите пароль и почту</h3>
  <br>
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
      <br>
      {{ form.password_hash.label(class="form-label") }}
      {{ form.password_hash(class="form-control") }}
      <br>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}