{% extends 'base.html' %}

{% block title %}
Обновить пользователя
{% endblock %}

{% block content %}
<div class="container py-5">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST" action="{{ url_for('update_user', id=user.id) }}">
      {{ form.hidden_tag() }}
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control", value=user.name) }}
      <br>
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control", value=user.email) }}
      <br>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
  <br>
</div>
{% endblock %}